.page-title.parallax {
  position: relative;
  padding: 100px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.mapa-about {
  padding-top: 50px;
  padding-bottom: 50px;
}

.vertical-center {
  position: relative;
}

.vertical-center p {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.auto ul li {
  list-style-type: disc;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-b-20 .text {
  margin-bottom: 20px;
}

.lower-content {
  min-height: 300px;
}

.social-icon-one li .acesso {
  font-size: 12px;
}

@media only screen and (max-width: 600px) {
  .logo a img {
    width: 280px;
  }
}

