/* Consultary - Finance & Business HTML Template  */

@media only screen and (max-width: 1139px){


	.about-us .content-column .inner-column{
		margin-right: 0;
	}

	.news-section-two .left-column .inner-column,
	.testimonial-section .form-column .inner-column,
	.integrity-section .content-column .inner-column,
	.features-section .image-column .inner-column,
	.why-us-section .image-column .inner-column{
		padding-right: 0;
	}

	.main-footer.style-two .newsletter-widget,
	.faq-section .stat-column .inner-column{
		padding-left: 0;
	}

	.contact-section .map-column .inner-column,
	.news-section-two .right-column .inner-column{
		margin-left: 0;
	}

	.news-block-two .content-box,
	.service-tabs .tabs-content .tab .content,
	.why-us-section .content-column .inner-column,
	.about-us .content-column .inner-column{
		padding-top: 0;
	}

	.features-section .image-column .inner-column{
		margin-top: 0;
	}

	.header-style-two .btn-box .theme-btn{
		display: none;
	}

	.features-section .carousel-column .inner-column{
		padding: 50px 20px;
	}

	.service-block .image-box .overlay-box .text{
		font-size: 14px;
		line-height: 24px;
		margin-bottom: 20px;
	}

	.integrity-section .image-column{
		width: 50%;
		right: 0;
	}

	.faq-section .sec-title h2{
		font-size: 34px;
	}

	.service-block .image-box .overlay-box{
		display: table;
		bottom: 0;
		top: auto;
		padding: 50px 40px 30px;
	}

	.contact-info-box .inner-box{
		padding-left: 50px;
	}

	.contact-info-box .icon-box span{
		font-size: 40px;
	}

}

@media only screen and (min-width: 768px){
	.main-menu .navigation > li > ul,
	.main-menu .navigation > li > ul > li > ul{
		display:block !important;
		visibility:hidden;
		opacity:0;
	}
}

@media only screen and (max-width: 1023px){
	.about-us:before,
	.about-us:after,
	.main-header .top-left,
	.call-to-action.style-two:before,
	.main-menu .navigation > li:before,
	.header-style-three .header-upper .upper-right,
	 .header-style-three .header-upper .upper-left,
	.testimonial-section .outer-container:before, 
	.testimonial-section .outer-container:after,
	.main-header .search-box-outer,
	.sticky-header{
		display: none !important;
	}

	.header-style-two .logo-outer,
	.main-header .main-menu,
	.main-header .main-menu .navigation,
	.main-header .header-lower .logo-box,
	.main-header .header-lower .nav-outer,
	.main-header .top-right{
		width: 100%;
		text-align: center;
	}

	.page-title{
		padding: 150px 0 100px;
		text-align: center;
	}

	.service-detail-section .sidebar-side{
		order: 99;
	}

	.page-title .bread-crumb{
		display: block;
		text-align: center;
		border-radius: 50px;
		padding: 15px 0;
	}

	.page-title .bread-crumb:before{
		display: none;
	}


	.header-style-two .header-lower .main-box{
		border-radius: 0;
	}

	.main-menu .navigation > li{
		display: inline-block;
		float: none;
		padding: 12px 0;
	}

	.header-style-two .main-menu .navigation > li{
		margin-right: 25px;
	}

	.main-slider h2{
		font-size: 50px;
		line-height: 1.1em;
	}

	.about-us .video-column .image,
	.about-us .video-column .image img{
		width: 100%;
		height: auto;
	}

	.main-footer .footer-bottom .copyright-text,
	.main-footer .footer-bottom .footer-links,
	.call-to-action .btn-column,
	.call-to-action .title-column{
		width: 100%;
		text-align: center;
	}

	.header-style-three .logo-outer{
		position: relative;
	}

	.main-footer.style-three .footer-menu ul li{
		margin: 0 10px;
	}
	.header-style-three .main-menu .navigation > li{
		margin: 0 15px;
	}

	.header-style-three .search-box-outer{
		display: block !important;
	}

	.contact-info-box .inner-box{
		padding-left: 0;
		text-align: center;
	}

	.contact-info-box .icon-box{
		position: relative;
		display: inline-block;
		margin-bottom: 10px;
	}

	.contact-info-box .social-links{
		position: relative;
		text-align: center;
		padding-top: 50px;
	}

	.about-section-two .content-column .fact-counter{
		margin: 0 auto;
	}

	.main-header .header-upper .upper-right{
		padding-top: 0;
		width: 100%;
		text-align: center;
	}

	.main-footer .footer-bottom .footer-links{
		padding: 35px 0 0;
	}

	.testimonial-section .form-column .inner-column{
		padding-top: 70px;
	}

	.testimonial-section .testimonial-column .inner-column{
		padding: 50px 0 70px;
	}

	.main-footer .footer-bottom .bottom-links li{
		margin-left: 15px;
	}

	.sidebar-page-container .comments-area .comment-box.reply-comment,
	.features-section .image-column .inner-column{
		margin-left: 0;
	}

	.contact-section .form-column .inner-column{
		margin-right: 0;
	}

	.contact-section .map-column .inner-column{
		margin-top: 0;
	}

	.header-style-two .header-lower .main-box:before{
		display: none;
	}

	.app-section .content-column .inner-column,
	.subscribe-section .title-column .inner-column,
	.about-section-two .content-column .inner-column{
		text-align: center;
	}

	.integrity-section .image-column{
		position: relative;
		background: none !important;
		width:100%;
	}

	.integrity-section .content-column .inner-column{
		float: none;
		margin: 0 auto;
		text-align: center;
	}

	.integrity-section .content-column .inner-column img{
		display: inline-block;
	}

	.app-section .image-column .inner-column{
		margin-top: 0;
		text-align: center;
		padding-right: 0;
	}

	.integrity-section .content-column{
		width: 100%;
	}

	.integrity-section .image-column .image-box{
		display: block;
	}

	.main-header .info-box{
		float: none;
		margin-left: 40px;
		display: inline-block;
		text-align:center;
		padding-left: 0;
	}

	.main-header .info-box .icon-box{
		position: relative;
		margin: 0 auto 10px;
	}

	.contact-section .map-canvas,
	.contact-section .map-outer{
		position: relative;
		height: 400px;
	}

	.about-widget .logo{
		margin-bottom: 25px;
	}

}

@media only screen and (max-width: 767px){	

	.main-header{
		position: relative;
	}

	.main-header .header-lower .logo-box{
		width: auto;
	}

	.main-header .header-lower .logo{
		padding: 10px 0;
	}

	.main-header .info-box{
		width: 100%;
		margin: 0 0 30px;
	}

	.header-style-two .header-upper .upper-right{
		padding-bottom: 10px;
	}

	.header-style-three .lang-box,
	.header-style-three .outer-box{
		display: none;
	}

	.header-style-three{
		position: relative;
		background-color: #222222;
	}

	.header-style-three:after{
		content: "";
		display: table;
		clear: both;
	}


	.header-style-three .logo-outer{
		padding: 10px 0;
	}

	.header-style-three .header-upper{
		position: relative;
		float: left;
		z-index: 1;
	}

	.header-style-three .header-lower{
		position: relative;
		background-color: rgba(34,34,34,1);
		display: block;
		float: right;
		margin-top: -70px;
	}

	.header-style-three .header-lower .nav-outer{
		margin-top: 0;
		float: none;
	}

	.about-section-two .text{
		padding-right: 0;
	}

	.feature-block{
		text-align: center;
		margin-bottom: 50px;
	}


	.main-header .nav-outer{
	    width: 100%;
		margin-top: -70px;
	}

	.header-style-two .nav-outer{
		margin-top: 0;
	}

	.header-style-two .header-lower .main-box,
	.header-style-two .header-lower{
		background-color: #222222 !important;
	}

	.header-style-two .outer-box,
	.header-style-two .search-box-outer{
		position: absolute;
		left: 0;
		top: 0;
		right: auto;
		display: block !important;
		margin: 0;
	}

	.main-header .main-menu{
		padding-top: 0px;
		width: 100%;
		margin: 0px;
	}

	.main-menu .navbar-header {
	    position: relative;
	    float: none;
	    display: block;
	    text-align: right;
	    width: 100%;
	    padding: 10px 0px 10px;
	    right: 0px;
	}

	.main-menu .collapse {
	   max-height:400px;
		overflow:auto;
		float:none;
		width:100%;
		padding:10px 0px 0px;
		border:none;
		margin:0px 0px 15px;
		-ms-border-radius:0px;
		-moz-border-radius:0px;
		-webkit-border-radius:0px;
		-o-border-radius:0px;
		border-radius:0px;
		box-shadow:none;
   }
   
	.main-menu .collapse.in,
	.main-menu .collapsing{
		padding:10px 0px 0px;
		border:none;
		margin:0px 0px 15px;
		-ms-border-radius:0px;
		-moz-border-radius:0px;
		-webkit-border-radius:0px;
		-o-border-radius:0px;
		border-radius:0px;
		box-shadow:none;	
	}

	.navbar-dark .navbar-toggler{
		border: 1px solid #ffffff;
	}

	.navbar-light .navbar-toggler{
		border: 1px solid #999999;
	}

	
	.main-menu .navbar-collapse > .navigation{
		float:none !important;
		margin:0px !important;
		width:100% !important;
		
		border:1px solid #ffffff;
		border-top:none;
	}
	
	.main-menu .navbar-collapse > .navigation > li{
		margin:0px !important;
		float:none !important;
		padding:0px !important;
		width:100%;
	}
	
	.main-menu .navigation > li > a,
	.main-menu .navigation > li > ul:before{
		border:none;	
	}
	
	.main-menu .navbar-collapse > .navigation > li > a{
		padding:10px 10px !important;
		border:none !important;
		font-size:15px !important;
	}
	
	.main-menu .navigation li.dropdown > a:after,
	.main-menu .navigation > li.dropdown > a:before,
	.main-menu .navigation > li > ul > li > a::before,
	.main-menu .navigation > li > ul > li > ul > li > a::before{
		color:#ffffff !important;
		right:15px;
		font-size:16px;
		display:none !important;
	}
	
	.main-menu .navbar-collapse > .navigation > li > ul,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul{
		position:relative;
		border:none;
		float:none;
		visibility:visible;
		opacity:1;
		display:none;
		margin:0px;
		left:auto !important;
		right:auto !important;
		top:auto !important;
		padding:0px;
		outline:none;
		width:100%;
		background:#333333;
		-webkit-border-radius:0px;
		-ms-border-radius:0px;
		-o-border-radius:0px;
		-moz-border-radius:0px;
		border-radius:0px;
		transition:none !important;
		-webkit-transition:none !important;
		-ms-transition:none !important;
		-o-transition:none !important;
		-moz-transition:none !important;
		-webkit-transform: scaleY(1);
	    -ms-transform: scaleY(1);
	    -moz-transform: scaleY(1);
	    transform: scaleY(1);
	}
		
	.main-menu .navbar-collapse > .navigation > li > ul,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul{
		border-top:1px solid rgba(255,255,255,1) !important;	
	}
	
	.main-menu .navbar-collapse > .navigation > li,
	.main-menu .navbar-collapse > .navigation > li > ul > li,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li{
		border-top:1px solid rgba(255,255,255,1) !important;
		border-bottom:none;
		opacity:1 !important;
		top:0px !important;
		left:0px !important;
		visibility:visible !important;
	}
	
	.main-menu .navbar-collapse > .navigation > li > ul > li:first-child,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li:first-child{
		border-top:none !important;	
	}
	
	.main-menu .navbar-collapse > .navigation > li:first-child{
		border:none;	
	}
	
	.main-menu .navbar-collapse > .navigation > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li > a{
		padding:12px 20px !important;
		line-height:22px;
		color:#ffffff;
		font-weight:500;
		font-size:15px;
		background:#2154cf;
		text-align:left;
	}
	
	.main-menu .navbar-collapse > .navigation > li > a:hover,
	.main-menu .navbar-collapse > .navigation > li > a:active,
	.main-menu .navbar-collapse > .navigation > li > a:focus{
		background:#ff5926;
	}
	
	.main-menu .navbar-collapse > .navigation > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li.current > a,

	.main-menu .navbar-collapse > .navigation > li.current-menu-item > a{
		background:#2154cf;
		color:#ffffff !important;
	}
	
	.main-menu .navbar-collapse > .navigation li.dropdown .dropdown-btn{
		display:block;
	}
	
	.main-menu .navbar-collapse > .navigation li.dropdown:after,
	.main-menu .navigation > li > ul:before,
	.main-slider .bordered-layer{
		display:none !important;	
	}

	.main-slider h2{
		font-size: 40px;
	}

	.main-slider.style-two h4,
	.main-slider h4{	
		font-size: 24px;
	}

	.main-slider .theme-btn{
		font-size: 12px;
		padding: 10px 30px;
		margin: 0 5px 0;
	}

	.page-title h1{
		font-size: 30px;
		line-height: 1.2em;
		margin-bottom: 10px;
	}

	.page-title{
		padding: 100px 0;
		text-align: center;
	}


	.about-us .content-column h2,
	.why-us-section .content-column h2,
	.sec-title h2{
		font-size: 28px;
		line-height: 1.2em;
	}

	.sec-title .text br,
	.main-slider .text br{
		display: none;
	}

	.call-to-action .title-column{
		margin-bottom: 20px;
	}

	.news-section,
	.cases-section,
	.contact-section,
	.features-section,
	.contact-form-section,
	.news-section.style-two,
	.integrity-section .content-column .inner-column,
	.call-to-action{
		padding: 70px 0;
	}

	.news-section-two,
	.case-detail-section,
	.service-detail-section,
	.services-section.style-two,
	.main-footer.style-three .footer-upper,
	.services-section-two{
		padding: 70px 0 40px;
	}

	.work-section,
	.team-section,
	.pricing-section,
	.about-us{
		padding: 70px 0 30px;
	}


	.faq-section,
	.about-section-two,
	.contact-info-section,
	.sidebar-page-container,
	.main-footer .footer-upper,
	.why-us-section{
		padding: 70px 0 20px;
	}

	.app-section,
	.team-page-section,
	.services-section{
		padding: 70px 0 0;
	}

	.call-to-action.style-two{
		padding: 50px 0 40px;
	}


	.sec-title .title,
	.list-style-one li{
		margin-bottom: 10px;
		width: 100%;
	}

	.work-section,
	.features-section,
	.work-step .inner-box,
	.service-block-two{
		text-align: center;
	}

	.feature-block{
		text-align: center;
		margin-bottom: 50px;
	}

	.features-carousel .owl-nav{
		position: relative;
		margin-top: 50px;
		bottom: 0;
	}

	.contact-form{
		padding: 60px 15px;
	}

	.work-step .count{
		display: block;
		margin: 0 auto 20px;
	}

	.main-footer .footer-widget .widget-title{
		margin-bottom: 20px;
	}

	.service-tabs .tab-btns .tab-btn{
		padding: 10px 25px;
	}

	.service-tabs .tabs-content .tab .content{
		padding-left: 0;
	}

	.service-tabs .tabs-content .tab .content .thumb{
		position: relative;
		display: inline-block;
	}

	.mixitup-gallery .filters li{
		font-size: 15px;
		line-height: 20px;
		padding: 0px 15px;
		text-transform: capitalize;
		border:0;
	}

	.contact-info-box .social-links{
		padding-top: 0;
	}

	.main-slider.style-two .text{
		font-size: 14px;
		line-height: 24px;
	}

}

@media only screen and (max-width: 599px){


	.testimonial-block .text,
	.news-block .lower-content .text,
	.main-slider .text{
		font-size: 14px;
		line-height: 22px;
	}

	.blog-detail .image-box h3,
	.call-to-action.style-two .title-column h3{
		font-size: 24px;
		line-height: 1.3em;
	}

	.about-section-two h2{
		font-size: 24px;
		margin-bottom: 20px;
	}

	.main-slider.style-two .text{
		color: #000000;
	}

	.sidebar-page-container .comments-area .comment-info .name{
		display: block;
		padding-right: 0;
		margin-right: 0;
	}

	.news-block-two .inner-box,
	.sidebar-page-container .comments-area .comment{
		padding-left: 0;
	}

	.sidebar-page-container .comments-area .comment-box{
		margin-bottom: 30px;
	}

	.sidebar-page-container .comments-area .comment .comment-reply,
	.sidebar-page-container .comments-area .comment .author-thumb{
		position: relative;
		display: inline-block;
		margin-bottom: 20px;
	}

	.about-section-two .content-column,
	.about-us .content-column .link-box a{
		margin-bottom: 20px;
	}

	.appointment-form .title-box span{
		margin-bottom: 10px;
	}

	.cases-section .btn-box{
		margin-top: 20px;
	}

	.team-block .info-box{
		text-align: center;
	}

	.news-carousel .owl-nav,
	.testimonial-carousel .owl-nav,
	.services-carousel .owl-nav{
		display: none;
	}

	.testimonial-block .info-box .name{
		font-size: 18px;
		line-height: 1.2em;
	}

	.appointment-form{
		padding: 55px 25px 20px;
		text-align: center;
	}

	.testimonial-block .text{
		padding: 55px 20px 35px;
	}

	.recent-posts .post{
		padding-top: 0;
		padding-left: 120px;
	}

	.recent-posts .post h4{
		font-size: 16px;
		line-height: 26px;
	}

	.news-block-two .image-box{
		position: relative;
		width: 100%;
		margin-bottom: 20px;
	}

	.news-block-two{
		margin-bottom: 50px;
	}

	.feature-block-two h3{
		margin-bottom: 20px;
	}

	.service-tabs .tab-btns .tab-btn{
		width: 100%;
		text-align: center;
		border:0;
		padding: 0;
	}

	.service-tabs .tab-btns{
		margin-bottom: 20px;
	}
	
	.blog-detail .content-box{
		padding-left: 0;
	}

	.service-tabs .tabs-content{
		text-align: center;
	}

	.accordion-box .block .content .text,
	.service-tabs .tabs-content .tab .content p{
		font-size: 14px;
		line-height: 24px;
	}

	.accordion-box .block .content{
		padding-right: 25px;
	}

	.sidebar-page-container .comments-area .comment-info .name:after,
	.blog-detail .post-share-options,
	.styled-pagination li.next-post a, 
	.styled-pagination li.prev-post a{
		display: none;
	}

	.subscribe-form .form-group{
		background-color: transparent;
	}

	.subscribe-form .form-group input[type="submit"], 
	.subscribe-form button{
		position: relative;
		display: block;
		width: 100%;
		margin-top: 15px;
	}

	.subscribe-form .form-group input[type="text"],
	.subscribe-form .form-group input[type="email"]{
		padding-right: 40px;
	}

	.sidebar-page-container .comments-area{
		margin-bottom: 50px;
	}

}

@media only screen and (max-width: 479px) {

	.faq-section .sec-title h2,
	.feature-block-two h3,
	.appointment-form .title-box h3,
	.why-us-section .content-column h2,
	.main-slider h2{
		font-size: 24px;
	}

	.latest-news .post h3,
	.main-slider.style-two h4,
	.main-slider h4{
		font-size: 18px;
		line-height: 1.2em;
	}

	.main-footer.style-three .footer-menu ul li a{
		font-size: 17px;
	}

	.main-slider .theme-btn{
		padding: 10px 20px;
		margin: 0 5px 0;
	}

	.news-block .lower-content{
		padding: 35px 15px 30px;
	}

	.service-block .image-box .overlay-box{
		padding: 40px 40px 30px;
	}

	.service-tabs .tabs-content{
		padding: 30px 20px;
	}

	.case-block .caption-box{
		min-width: 280px;
		padding: 15px 20px;
	}
}
